name: Ballerina AWS Lambda Build

on:
  pull_request:
  push:
    branches-ignore:
      - master
      - "automated/dependency_version_update"
      - "automated/dependency_version_update_tmp"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      packageUser: ${{ github.actor }}
      packagePAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17
      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew build
      - name: Generate Codecov Report
        uses: codecov/codecov-action@v2
